@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light|Source+Sans+Pro:400,700");
html {
  overflow-x: hidden;
}

body {
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  color: #666;
  line-height: 25px;
  backface-visibility: hidden;
  overflow-x: hidden; 
}

h1, h2, h3, h4 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  color: red;

}


.script-font {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
}

.whitefont
{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

a a:focus {
  outline: none;
}

p {
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0px;
  font-size: 14px;
  color: white;
}



ul, ol {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.section-title {
  color: red;
  font-size: 38px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 48px;
  padding: 0 10px;
  position: relative;
  font: Arial;
}

.btn {
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 0px;
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  transition: all 0.2s linear;
  display: inline-block;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
  color: #fff;
}

.btn-common {
  background-color: red;
  position: relative;
}

.btn-common:hover {
  color: #fff;
  background-color: #21cff3;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
}

.btn-danger:hover {
  background-color: #f55262;
  border-color: #f55262;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.btn-border {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}

.btn-border:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px;
}

.btn-rm {
  padding: 7px 10px;
  text-transform: capitalize;
}


.icon-close, .icon-check {
  color: #00b4d9;
}

.social-icon li {
  display: inline-block;
}

.social-icon li a {
  color: #000;
  background: #fff;
  width: 35px;
  height: 35px;
  line-height: 38px;
  display: block;
  text-align: center;
  border-radius: 100%;
  font-size: 16px;
  margin: 15px 6px 12px 6px;
}

.social-icon li .facebook:hover {
  background: #3b5999;
}

.social-icon li .instagram:hover {
  background: #D6274D;
}



/* Resume */

.navbar-brand {
  position: relative;
  padding: 0px;
}

.top-nav-collapse {
  background: #fff;
  z-index: 999999;
  top: 0px;
  min-height: 58px;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
  background: #fff;
}

.top-nav-collapse .navbar-brand {
  top: 0px;
}

.top-nav-collapse .navbar-brand img {
  width: 65%;
}

.top-nav-collapse .navbar-nav .nav-link {
  color: #333 ;
  margin-top: 0px ;
  margin-bottom: 0px ;
}

.top-nav-collapse .navbar-nav .nav-link:hover {
  cursor: pointer;
  color: #00b4d9;
}

.top-nav-collapse .navbar-nav li.active a.nav-link {
  color: #00b4d9;
}

.indigo {
  background: #fff;
}

.menu-bg {
  background: transparent;
}

.navbar-expand-lg .navbar-nav .nav-link i {
  font-size: 28px;
  color: #00b4d9;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-expand-lg .navbar-nav .nav-link i:hover {
  color: #21cff3;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #333;
  font-weight: 700;
  padding: 0 17px;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 40px;
  text-transform: uppercase;
  cursor: pointer;
  background: transparent;
}

.navbar-expand-lg .navbar-nav li a:hover,
.navbar-expand-lg .navbar-nav li .active > a,
.navbar-expand-lg .navbar-nav li a:focus {
  color: #00b4d9;
  outline: none;
}

.navbar {
  padding: 0;
}

.navbar li.active a.nav-link {
  color: #00b4d9;
}

.slicknav_btn {
  border-color: #00b4d9;
}

.slicknav_menu .slicknav_icon-bar {
  background: #00b4d9;
}


/* ==========================================================================
  We are Protiegs 
========================================================================== */
.WeAreID {
  background: url(../img/CheckUs.jpg) no-repeat;
  background-size: cover;
}
.AboutUsID {
  background: url(../img/9P.jpg) no-repeat;
  background-size: cover;
}

#proteigsarea {
  color: #fff;
  overflow: hidden;
  position: relative;
}

#proteigsarea .Protiegs1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #0c0808;
  opacity: 0.6;
}

#proteigsarea .contents {
  padding: 175px 0px 120px;
}


#proteigsarea .contents h5 {
  font-size: 50px;
}

#proteigsarea .contents .head-title {
  color: #fff;
  font-size: 80px;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

#proteigsarea .contents p {
  font-size: 30px;
  color: #fff;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 25px;
  color:white;
}

#proteigsarea .contents .btn {
  margin: 25px 0px;
  text-transform: uppercase;
}


/* Products */
.services {
  background: #FFFFFF;
}

.ourProduct {
  max-height: 285px;
}

.Protienproducts {
  background: #000;
  border-radius: 4px;
  padding: 48px 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  height: 100%;
}
#supple {
background-image: url('../img/2P.jpg');
background-size: cover;
}

#Sticks {
background-image: url('../img/1P.jpg');
background-size: cover;
}

#Bars {
background-image: url('../img/4P.jpg');
background-size: cover;
}

#Cookies {
background-image: url('../img/Cookies.jpg');
background-size: cover;
}

.Productcontent {
  opacity: 0;
}

.Productcontent:hover {
  opacity: 1;
  background-color: rgba(0,0,0,0.8);
}

.Protienproducts .Productcontent h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.Protienproducts .Productcontent h3 a {
  font-size: 18px;
  text-transform: uppercase;
  color: red;
}

.Protienproducts .Productcontent p {
  line-height: 22px;
  color: white;
}

.form-control {
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
  border-radius: 0;
  padding: 8px 10px;
  border: 1px solid #e1e1e1;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
}

.btn.disabled, .btn:disabled {
  opacity: 1;
}

.contact-form-area {
  background: #fff;
  box-shadow: 0 0 30px #ededed;
  padding: 60px 40px;
}

.contact-form-area h2 {
  font-size: 18px;
  text-transform: uppercase;
}

.footer-right-contact {
  padding: 4px;
  margin-top: 30px;
}

.footer-right-contact .single-contact {
  margin: 10px 22px;
  padding: 3px 55px;
  position: relative;
  color: #666;
}

.footer-right-contact .single-contact p {
  margin-bottom: 5px;
}

.footer-right-contact .single-contact p a {
  color: #666;
}

.footer-right-contact .contact-icon {
  background: #00b4d9;
  color: black;
  border-radius: 50%;
  font-size: 20px;
  height: 40px;
  left: 0;
  padding-top: 8px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
}

#contact {
  position: relative;
  overflow: hidden;
}

#contact #contactForm {
  margin-top: 30px;
}

.text-danger {
  font-size: 14px;
  margin-top: 10px;
}

.list-unstyled li {
  color: #d9534f;
}


/* Footer Area Start */
.footer-area {
  background: #1C1C20;
}

.footer-area .footer-text p {
  font-size: 14px;
  margin-top: 20px;
  color: #fff;
}

.footer-area .footer-text p a {
  color: #00b4d9;
}

.footer-area .footer-text .nav-inline .nav-link {
  padding: 11px 7px;
  color: #888;
}

.footer-area .footer-text .nav-inline .nav-link:hover {
  color: #00b4d9;
}

.footer-2 {
  background: #252525;
}

.footer-2 img {
  margin-top: -8px;
}

.footer-2 h3 {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  padding-bottom: 10px;
  letter-spacing: 0.5px;
}

.footer-2 p {
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  margin: 0;
  padding-right: 50px;
}

.footer-2 ul li a {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}

.footer-2 ul li a:hover {
  color: #00b4d9;
}

#copyright {
  background: #333;
}

#copyright p {
  line-height: 42px;
  color: #fff;
  margin: 0;
}

#copyright p a {
  color: #fff;
}

#copyright p a:hover {
  color: #00b4d9;
}
